body {
  font-family: "Brush Script MT";
}
header {
  height: 65px;
  width: 100%;
  background-color: #bdbdbd;
  position: fixed;
  top: 0;
  z-index: 10;
  opacity: 0.7;
}
.logo {
  width: 124px;
  margin-top: 20px;
}
.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: inline-block;
  float: right;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.container{
  width:1170px;
  padding-left:15px 80px;
  margin-left:auto;
  margin-right:auto;
}
.top-main{
  padding-top:100px;
  padding-bottom:100px;
  color:#eee;
  text-align:center;
  background-image:url(asd.jpeg);
  background-size: cover;
}
.top-main h1{
  opacity:0.7;
  font-size:45px;
  letter-spacing:5px;
  margin-bottom:10px;
}
.top-main p{
  opacity:0.7;
  margin-bottom:8px;
  margin-top:8px;
  font-weight:bold;
}
.button{
  padding:12px 24px;
  color:white;
  display:inline-block;
  opacity:0.8;
  border-radius:18px;
  transition:all 0.5;
  cursor:pointer;
  box-shadow:0 3px #eee;
}
.email{
  margin-top:20px;
  background-color:#e75a4d;
}
.instagram{
  background-color:#c83d82;
  margin-right:10px;
}
.twitter{
  background-color:#55acee;
}
.button-main{
  margin-top:10px;
  margin-bottom:10px;
}
.button:hover{
  opacity:1;
}
.fa{
  margin-right:12px;
}
.button:active{
  position:relative;
  top:3px;
  box-shadow:none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  /* Ubah max-width ke 1170px */
  max-width:1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}
.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color:	#F0F8FF;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 20%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 200px;
  width: 100%;
  color: black;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 30px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #00FFFF;
  cursor: pointer;
  box-shadow: 0 7px #008B8B;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.footer-list{
  float: right;
  font-size: 12px;
}

.footer-list a{
  float: left;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 10px;
}

footer{
  padding: 7px 0;
}

.cr{
  color: #b3aeb5;
  font-size: 12px;
}
